body {
  padding: 20px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  background: #e4eef3;
  background-size: 100%;
}

a {
  color: #00B7FF;
}
.top {
  margin-top: 20px;
}
.bottom{
  margin-bottom: 20px;
}
.padding{
  padding: 20px;
}
.content{
  /*width: auto;*/
  height: 100px;
  /*overflow-y: visible;*/

}